main .img-container img {
  margin-top: 5%;
  width: 100vw;
  height: 60vh;
  box-sizing: content-box;
  object-fit: cover;
  object-position: -10px -1000px;
}

body, html { 
  position: absolute;     
  width: 100%; 
  height: 100%; 
  padding: 0px;
  background-color: #ECF3FB;
}

footer {
  margin-top: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  background-color: #007bff;
}

.imagem-redimensionada {
  width: 100%;
  height: auto; 
  margin: 0; 
  display: block; 
}

.titulo {
font-family: 'Roboto mono', sans-serif;
}

/* Estilo para o modal personalizado */
.custom-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

