body {     
  margin: 0;
  padding: 0;
  background-color: #ECF3FB;
}

main {
  margin-bottom: 20%;
}

main .img-container img {
  margin-top: 5%;
  width: 100vw;
  height: 60vh;
  box-sizing: content-box;
  object-fit: cover;
  object-position: -10px -1000px;
}


footer {
<<<<<<< HEAD
  margin-top: 40px; 
  margin-bottom: 0;
  width: 100%;
  height: 80px;
  padding: 30px;
  background-color: #007bff;
=======
  display: flex;
  margin-top: 35em;
  justify-content: center;
  align-items: center;
  gap: 20px; 
>>>>>>> augusto
  color: white;
  background-color: #007bff;
  padding: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  gap: 10px;
=======
  align-items: center;
  gap: 20px; 
  padding: 20px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item a {
  color: #ffffff;
  text-decoration: none;
}

.footer-item p {
  margin: 0;
  padding-top: 5px;
>>>>>>> augusto
}

.imagem-redimensionada {
  width: 100%;
  height: auto; 
  margin-top: 10em; 
  display: block; 
}

.titulo {
font-family: 'Roboto mono', sans-serif;
}

