main .img-container img {
  margin-top: 5%;
  width: 100vw;
  height: 60vh;
  box-sizing: content-box;
  object-fit: cover;
  object-position: -10px -1000px;
}

body, html { 
  position: absolute;     
  width: 100%; 
  height: 100%; 
  padding: 0px;
  background-color: #ECF3FB;
}

footer {
  margin-top: 40px; 
  margin-bottom: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.imagem-redimensionada {
  width: 100%;
  height: auto; 
  margin: 0; 
  display: block; 
}

.titulo {
font-family: 'Roboto mono', sans-serif;
}

.container
{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.container main {
  flex: 1 1 0;
  border: 0;
}
